<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <permission android:name="io.rebble.pebblekit2.permission.SEND_DATA_TO_WATCH"
                android:label="@string/permission_label_send"
                android:protectionLevel="normal"/>
    <permission android:name="io.rebble.pebblekit2.permission.RECEIVE_DATA_FROM_WATCH"
                android:label="@string/permission_label_receive"
                android:protectionLevel="normal"/>

    <queries>
        <intent>
            <action android:name="io.rebble.pebblekit2.RECEIVE_DATA_FROM_WATCH"/>
        </intent>
    </queries>
</manifest>
