*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/git_toolbox_prj.xml
/.idea/.name
/.idea/AndroidProjectSystem.xml
/.idea/compiler.xml
/.idea/data_extraction_rules.xml
/.idea/deploymentTargetSelector.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/runConfigurations.xml
/.idea/modules
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/inspectionProfiles
/.kotlin
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
